/*RESETS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s ease-in;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto",sans-serif;
    background-image: url(pexels-pixabay-208512.jpg);
    background-position: center;
    color: black;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: yellow;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    border: 2px solid;
    backdrop-filter: blur(5px);
    /* for sticky navigation bar 
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    */
}
#navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar ul li{
    margin-left: 2rem;
}
#sec1{
    padding: 280px 100px;
    text-align: center;
    border-color: whitesmoke;
    border: 2px solid;
    backdrop-filter: blur(1px);
}
#text{
    margin-left: 35px;
}
#sec1 h1{
    color: rgb(241, 138, 13);
    font-weight: 900;
    font-size: 330%;
    margin-bottom: 15px;
}
#sec1 p{
    color: rgb(178, 178, 178);
    font-style: oblique;
    font-size: 130%;
}
#sec1 p span{
    color: white;
    font-style: normal;
    font-size: 70%;
}
.btn1{
    margin-left: 20px;
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 900;
    cursor: pointer;
    font-style: normal;
}
#image{
    padding: 1.5rem;
}
#sec2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 100px;
    background-color: rgb(42, 42, 73);
    background-image: url(pexels-pixabay-208512.jpg);
}
#sec2 h2{
    color: aliceblue;
    font-size: 300%;
}
#sec2 p{
    color: aqua;
    font-size: 190%;
}
#sec3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 300px 100px;
}
#sec3 h2{
    color: aliceblue;
    font-size: 300%;
}
#sec3 ul{
    color: aqua;
    font-size: 190%;
    font-weight: bold;
    font-style: oblique;
}
#sec4{
    text-align: center;
    background-image: url(pexels-pixabay-208512.jpg);
    padding: 350px 100px;
}
#sec4 h2{
    color: #f1f1f1;
    font-size: 300%;
}
#sec4 p{
    color: aqua;
    font-size: 130%;
}
